<div class="row nav-label" nav-shrink="">
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-3 no-padding-left-right text-center">
        <span class="label label-default">Default</span>
    </div>
    <span class="glyphicon glyphicon glyphicon-menu-down hidden-sm hidden-md hidden-lg"></span>
</div>
<div class="row nav-search">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <a class="btn btn-default" type="button">Go!</a>
            </span>
        </div>
    </div>
    <div class="label label-default">
       <span class="glyphicon glyphicon-search"></span> Search
    </div>
</div>
<div class="row nav-tags">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="padding: 15px">
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
    </div>
    <div class="label label-default">
        <span class="glyphicon glyphicon-tag"></span> Tags
    </div>
</div>

<div class="row blog-body cont">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="padding: 0px 5px 10px">
                    sdfdsfdsf
                </div>
                <div style="padding: 0px 5px 10px">
                    sadsds
                </div>
                <img class="img-responsive center-block" src="/images/bg7.png" alt="...">
                <div class="text-left desc">
                    sadsds
                </div>
            </div>
            <div class="panel-footer text-right">
                <div class="float-left">
                    <div class="label label-default">Default</div>
                    <div class="label label-primary">Primary</div>
                </div>
                <span style="display: inline-block;padding: 10px 15px;border: 1px solid gainsboro;width: 120px;text-align: center">阅读全文</span>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="padding: 0px 5px 10px">
                    sdfdsfdsf
                </div>
                <div style="padding: 0px 5px 10px;">
                    sadsds
                </div>
                <div class="text-left desc">
                    Composer 项目刚刚宣布在其第五个生日的同一天发布了 V1.0 正式版。 以下翻译自 Composer 创始人 Jordi Boggiano 的原文： 五年前的今天，Composer 诞生了。在某些方面，这感觉就像昨天发生的事，至少它不像过去了五年。但在其他方面，好像是上辈子的事了，没有一个完整的 PHP 生
                    Composer 项目刚刚宣布在其第五个生日的同一天发布了 V1.0 正式版。 以下翻译自 Composer 创始人 Jordi Boggiano 的原文： 五年前的今天，Composer 诞生了。在某些方面，这感觉就像昨天发生的事，至少它不像过去了五年。但在其他方面，好像是上辈子的事了，没有一个完整的 PHP 生
                    Composer 项目刚刚宣布在其第五个生日的同一天发布了 V1.0 正式版。 以下翻译自 Composer 创始人 Jordi Boggiano 的原文： 五年前的今天，Composer 诞生了。在某些方面，这感觉就像昨天发生的事，至少它不像过去了五年。但在其他方面，好像是上辈子的事了，没有一个完整的 PHP 生
                </div>
            </div>
            <div class="panel-footer text-right">
                <div class="float-left">
                    <div class="label label-default">Default</div>
                    <div class="label label-primary">Primary</div>
                </div>
                <span style="display: inline-block;padding: 10px 15px;border: 1px solid gainsboro;width: 120px;text-align: center">阅读全文</span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="max-height: 35px">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>