<div class="row" style="max-height: 50px;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
        sss
    </div>
</div>

<div class="row project-head">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>项目名称</span>
    </div>
</div>

<div class="row project-body">
    <div class="col-md-10 col-md-offset-1 ol-sm-10 col-sm-offset-2 col-xs-12 no-padding-left-right">
        <ul class="list-group">
            <li class="list-group-item no-border text-center">
                <p>快速集成分享、登录、评论、喜欢等功能</p>
                <div>
                    <span style="display: inline-block;padding: 5px 10px;border: 1px solid gainsboro;width: 100px;margin:20px">下载源码</span>
                    <span style="display: inline-block;padding: 5px 10px;border: 1px solid gainsboro;width: 100px;margin:20px">查看演示</span>
                    <span style="display: inline-block;padding: 5px 10px;border: 1px solid gainsboro;width: 100px;margin: 20px">Github</span>
                </div>
                <p class="text-left">
                    帮助应用或游戏快速具备微信、微博、QQ 等平台的分享、登录或者基于内容的评论、喜欢等社会化功能，助力产品推广，
                    并提供实时、全面的用户群画像分析，分享链接的回流率分析等等，是国内专业的社会化分享SDK。
                </p>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="/images/017.jpg" alt="...">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="/images/017.jpg" alt="...">
                </div>
            </li>

            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="/images/017.jpg" alt="...">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="/images/017.jpg" alt="...">
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>