<div class="row" style="max-height: 50px;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
        sss
    </div>
</div>

<div class="row project-search">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <a class="btn btn-default" type="button">Go!</a>
            </span>
        </div>
    </div>
</div>
<div class="row" style="min-height: 50px;background-color: #EDEDED">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="padding: 15px">
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
    </div>
</div>

<div class="row project-body">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body sm row">
                <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left-right">
                    <img class="img-responsive center-block" src="/images/0021.jpg" alt="...">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-left-right">
                    <div style="padding: 10px 15px;max-height: 33%">
                        biaot
                    </div>
                    <div style="padding: 0px 15px;max-height: 33%; min-height: 70px;">
                        描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述
                    </div>
                    <div style="padding: 0px 15px;max-height: 33%">
                        <div class="float-left">
                            <span>版本信息</span>
                        </div>
                        <div class="float-right">
                            <span>集成文档</span>
                            <span>|</span>
                            <span>使用指南</span>
                            <span>|</span>
                            <span>集成检测说明</span>
                            <span>|</span>
                            <span>FAQ</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-12 no-padding-left-right text-right">
                    <i class="fa fa-clock-o"></i>
                    <span style="display: inline-block;padding: 0px 5px;width: 85px;">2014-05-05</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body sm row">
                <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left-right">
                    <img class="img-responsive center-block" src="/images/0021.jpg" alt="...">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 no-padding-left-right">
                    <div style="padding: 0px 15px;max-height: 33%">
                        biaot
                    </div>
                    <div style="padding: 0px 15px;max-height: 33%">
                        描述
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left-right text-right">
                    <i class="fa fa-clock-o"></i>
                    <span style="display: inline-block;padding: 0px 5px;width: 85px;">2014-05-05</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body sm row">
                <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left-right">
                    <img class="img-responsive center-block" src="/images/0021.jpg" alt="...">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 no-padding-left-right">
                    <div style="padding: 0px 15px;max-height: 33%">
                        biaot
                    </div>
                    <div style="padding: 0px 15px;max-height: 33%">
                        描述
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left-right text-right">
                    <i class="fa fa-clock-o"></i>
                    <span style="display: inline-block;padding: 0px 5px;width: 85px;">2014-05-05</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="max-height: 35px">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>