html, body {
    background: url("/images/bg4.png") repeat scroll 0% 0% transparent;
    height: 100%;
}

.main {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*重写bootstrap----------------------------------------*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.label {
    display: inline-block;
    margin: 5px 3px;
}
.panel {
    border-radius: 0px;
}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-default {
    border: 0px solid #ddd;
}
.panel-body {
    min-height: 170px;
}
.panel-body.md {
    min-height: 120px;
}
.panel-body.sm {
    min-height: 0px;
    padding: 10px 5px;
}
.panel-body.vs {
    min-height: 0px;
    padding: 0px 0px;
}
.panel-body.xs {
    min-height: 0px;
    padding: 5px 5px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.thumbnail.line {
    border-radius: 0px;
}
.thumbnail.line:hover, .thumbnail.line:focus, .thumbnail.line.active {
    border-color: darkgray;
}
.label {
    width: 70px;
    height: 25px;
    border-radius: 0px;
    line-height: 20px;
    font-size: 13px;
}
/*指令相关通用----------------------------------------*/
/*收缩*/
.contract {
    margin-top: -20px;

    transition: all 800ms ease 0s;
    -webkit-transition: all 800ms ease 0s;
    -moz-transition: all 800ms ease 0s;
    -o-transition: all 800ms ease 0s;
}
.contract .panel-body {
    background-color: #FFF;
}
.contract > div{
    position: relative;
    height: 20px;
    box-shadow: 0px -4px 10px #FFF;
}
.contract:last-child {
    margin-bottom: 165px;
}
.nav-label.nav-contract {
    max-height: 335px;
}
/*表格*/
.anime-datas {
    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.datas-line .blog{
    display: none;
}
.datas-line {
    margin-top: -20px;
}
.datas-line .panel-body.xs {
    border-top: 1px solid #f5f5f5;
}

/*完全自定义----------------------------------------*/
.loading-label:before {
    content: '加载中';
    font-size: 1.6rem;
    color: rgba(51, 51, 51, 1);
}

.loading-label {
    width: 100%;
    text-align: center;
    display: inline-block;
    counter-increment: loading-label;
    position: absolute;
    top: -2.5rem
}
.jump-top, .to-phone, .qr-code {
    position: fixed;
    bottom: 105px;
    right: 50px;
    width: 55px;
    height: 55px;
    z-index: 5000;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
    background-color: #EDEDED;

    filter:alpha(opacity=0);
    -webkit-opacity:0;
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.to-phone {
    bottom: 50px;
    padding: 0px;

    filter:alpha(opacity=100);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.qr-code {
    bottom: 50px;
    right: 105px;
    width: 225px;
    height: 225px;
    padding: 0px;
}

.jump-top:hover, .to-phone:hover, .qr-code {
    cursor: pointer;
}
.to-phone:hover ~ div {
    filter:alpha(opacity=100);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .jump-top {
        position: fixed;
        bottom: 15px;
        right: 10px;
        width: 45px;
        height: 35px;
        z-index: 5000;
        font-size: 20px;
        text-align: center;
        padding: 5px 0px;
        background-color: #A3A8BA;

        filter:alpha(opacity=0);
        -webkit-opacity:0;
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;

        transition: all 500ms ease 0s;
        -webkit-transition: all 500ms ease 0s;
        -moz-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
    }
    .to-phone {
        display: none;
    }
}
.jump-top.show{
    filter:alpha(opacity=100);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.page {
    display: none;
}
.page.normal {
    display: inline-block;
}
.blur {
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
    background: inherit;
    min-height: 75px;
    padding: 0px 15px;
    margin-top: 100px;
    background-size:cover;
    background-position: 100% 100%;
}
.copy {
    filter:alpha(opacity=0);
    -webkit-opacity:0;
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.copy.show{
    filter:alpha(opacity=100);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.copy .glyphicon {
    top: 3px;
}
/*nav----------------------------------------*/
.nav-label {
    background-color: #EDEDED;
    max-height: 35px;
    overflow: hidden;

    top:-35px;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);

    transition: all 1200ms ease 0s;
    -webkit-transition: all 1200ms ease 0s;
    -moz-transition: all 1200ms ease 0s;
    -o-transition: all 1200ms ease 0s;
}
.nav-label .label {
    margin: 5px 0px;
    background-color: #EDEDED;
    color: #777;
}
.nav-label .glyphicon {
    position: absolute;
    z-index: 2500;
    font-size: 20px;
    margin: 5px 8px;
    top: 2px;
}
.nav-label.fixed {
    position: fixed;
    z-index: 2000;
    width: 100%;

    top:0px;
}
@media screen and (max-width: 768px) {
    .nav-label {
        padding: 0px 35px 0px 0px;
    }
}
@media screen and (min-width: 768px) {
    .nav-label {
        padding: 0px 100px;
    }
}
@media screen and (min-width: 992px) {
    .nav-label {
        padding: 0px 122px;
    }
}
@media screen and (min-width: 1200px) {
    .nav-label {
        padding: 0px 122px;
    }
}
.nav-img {
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}
.nav-img .hidden-xs {
    min-height:350px;
    overflow: hidden;
    background-image: url('/images/bg7.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.nav-img .hidden-sm{
    min-height:40px;
    overflow: hidden;
    background-image: url('/images/bg7.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:100% 100%;
}
.nav-show {
    max-height: 10px;

    top: 0px;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);

    transition: all 1200ms ease 0s;
    -webkit-transition: all 1200ms ease 0s;
    -moz-transition: all 1200ms ease 0s;
    -o-transition: all 1200ms ease 0s;
}
.nav-show span{
    display: inline-block;
    width: 60px;
    top: -10px;
    color: rgb(237, 237, 237);
    font-size: 30px;
}
.nav-search {
    min-height: 110px;
    background-image: url('/images/bg5.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
    top:0px;

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.nav-search .input-group {
    margin-top: 40px;
}
@media screen and (max-width: 768px) {
    .nav-search {
        min-height: 75px;
    }
    .nav-search .input-group {
        margin-top: 20px;
    }
}
.nav-search.fixed {
    background-image: url('');
    right: 0px;
    width: 60%;
    overflow: hidden;
    text-align: right;

    position: fixed;
    z-index: 2000;
    top:45px;
}
.nav-search.fixed > div:first-child {
    display: none;
}
.nav-search > div:last-child {
    display: none;
}
.nav-search.fixed > div:last-child {
    display: inline-block;
    margin-right: 10px;
    width: 75px;
}
.nav-tags {
    min-height: 50px;
    /*background-color: #EDEDED;*/
    top:0px;

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 0ms ease 0s;
}
@media screen and (max-width: 768px) {
    .nav-tags {
        height: 0px;
        overflow: hidden;
    }
    .nav-tags >div:first-child {
        height: 0px;
        padding: 0px;
        text-align: center;
    }
}
.nav-tags.fixed {
    right: 0px;
    text-align: right;
    width: 40%;
    overflow: hidden;

    position: fixed;
    z-index: 2000;
    top:85px;
}
.nav-tags.fixed > div:first-child {
    display: none;
}
.nav-tags > div:last-child {
    display: none;
}
.nav-tags.fixed > div:last-child {
    display: inline-block;
    margin-right: 10px;
    width: 75px;
}
/*cont----------------------------------------*/
.cont {
    padding-top: 20px;

    /*transition: all 200ms ease 0s;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;*/
}
/*blog----------------------------------------*/
.blog-body {
    clear: both;
    min-height: 50%;
    padding-top: 20px
}
.blog-body .panel {
    padding: 10px 5px;
}
.blog-body .blog {
    min-height: 175px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:100% 100%;
    overflow: hidden;
    padding: 0px;
}

.blog-body .blog .desc{
    min-height: 65px;
    margin-top: -65px;
    padding: 2px 15px;
    position: relative;
    line-height: 20px;
    font-size: 16px;
    color: #DEDEDE;
}

.blog-body .article {
    line-height:25px;
    word-break:normal;
    white-space:normal;
    text-align: left;
}
.blog-body .article img {
    margin: 5px 0px;
    margin-left: auto;
    margin-right: auto;
}
.blog-body .desc {
    padding: 10px 5px 0px;
    max-height: 130px;
    line-height:25px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.blog-body .panel-footer {
    background-color: #fff;
}
/*resume----------------------------------------*/
.resume-body .panel {
    padding: 10px 5px;
}
.resume-body {
    min-height: 50%;padding-top: 20px
}
.resume-body .resume {
    min-height: 200px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:100% 100%;
    overflow: hidden;
    padding: 0px;
}

.resume-body .resume .desc{
    min-height: 100px;
    margin-top: -100px;
    padding: 0px 35px 20px;
    position: relative;
    line-height: 20px;
    font-size: 16px;
    color: #DEDEDE;
}
.resume-body .resume .desc div {
    height: 80px;
    border: 1px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
    padding: 15px 5px 5px;
}
.resume-body .resume .top-desc{
    min-height: 100px;
    margin-top: -200px;
    padding: 20px 35px 0px;
    position: relative;
    line-height: 20px;
    font-size: 16px;
    color: #DEDEDE;
}
.resume-body .resume .top-desc div {
    height: 80px;
    border: 1px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    padding: 30px 5px 5px;
}

.resume-body .article {
    line-height:25px;
    word-break:normal;
    white-space:normal;
    text-align: left;
}
.resume-body .article img {
    margin: 5px 0px;
    margin-left: auto;
    margin-right: auto;
}
.resume-body .desc {
    padding: 10px 5px 0px;
    max-height: 130px;
    line-height:25px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.resume-body .panel-footer {
    background-color: #fff;
}
.resume .blur {
    min-height: 200px;
    margin-top: 0px;
}

.resume-page, .resume-page-up, .resume-page-down {
    height: 100%;
    width: 100%;
    overflow-y:hidden;
    /*opacity: 0;*/
}
.resume-body {
    min-height: 30%;
}
.resume-body p {
    margin: 25px 5px;
}
.resume-body li {
    min-height: 200px;
}
.resume-job {
    min-height: 20%;
}
.resume-job > div {
    padding-top: 15px;
}
.resume-job > div > span {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid darkgray;
    border-radius: 50px;
    font-size: 12px;
    padding-top: 25px;
}

.resume-contact {
    min-height: 60%;
}
.resume-contact > div > span {
    display: inline-block;
    font-size: 15px;
    padding-top: 25px;
}
.resume-contact .fa-phone {
    color: #6FDB6F;
}
.resume-contact .fa-envelope {
    color: #548AC7;
}
.resume-contact .fa-home {
    color: grey;
}
/*project----------------------------------------*/
.project-head {
    min-height: 160px;
    background-image: url('/images/bg5.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.project-head > div >span {
    display: inline-block;
    padding: 30px 10px;
    border: 1px solid #79A2AF;
    width: 200px;
    height: 80px;
    margin-top: 39px;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
}
.project-body {
    min-height: 30%;
    margin-top: 20px;
}
.project-body p {
    margin: 15px 5px;
}
.project-body li {
    min-height: 210px;
}
.project-body img {
    width: 100%;
    max-height: 280px;
    overflow: hidden;
}
/*demo----------------------------------------*/
.demo-head {
    max-height: 100px;
    background-image: url('/images/bg5.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.demo-head > div > span {
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    color: #FFFFFF;
}
.demo-body {
    min-height: 40%;
    padding-top: 20px
    /*background-color: #fff;*/
}
.demo-body p {
    margin: 25px 5px;
}
.demo-body li:first-child {
    min-height: 210px;
}
.demo-body img {
    width: 100%;
    max-height: 384px;
    overflow: hidden;
}
.demo-body .panel {
    box-shadow: 5px 5px 15px #C3C3C3;
}
.demo-body .panel-body {
    min-height: 151px;
}
.demo-body .panel-heading {
    background-color: #FFFFFF;
}
.demo-body .panel-footer {
    background-color: #FFFFFF;
}
/*tools----------------------------------------*/

/*一般公用----------------------------------------*/
.index {
    padding-right: 0px;
    padding-left: 0px;
    max-height: 85%;
    padding-top: 15px

}
.index .panel {
    padding: 0px;
}
.index .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border: 0px solid #f5f5f5;
    border-color: #f5f5f5;
}
.index .panel-heading div{
    min-width: 150px;
}
.index .panel-heading div span{
    display: inline-block;
    min-width: 45px;
}

.float-left {
float: left
}

.float-right {
float: right
}

.no-padding-left-right {
padding-left: 0px;
padding-right: 0px
}

.no-padding-right {
padding-right: 0px
}

.no-padding-left {
padding-left: 0px;
}

.no-padding-top-bottom {
padding-top: 0px;
padding-bottom: 0px
}

.no-border {
border: 0px solid #fff;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.padding-side-5 {
padding: 0px 5px;
}

.padding-side-10 {
padding: 0px 10px;
}

.padding-side-15 {
padding: 0px 10px;
}

.padding-top-15 {
padding-top: 15px;
}

.margin-top-15 {
margin-top: 15px
}

.padding-top-10 {
padding-top: 10px;
}

.margin-top-10 {
margin-top: 10px
}

.border-all {
border: 1px solid #CCC;
}

.border-side {
border-right: 1px solid #CCC;
border-left: 1px solid #CCC;
}

.border-top {
border-top: 1px solid #CCC;
}

.border-bottom {
border-bottom: 1px solid #CCC;
}

.border-radius-top {
border-radius: 5px 5px 0px 0px
}

.border-radius-bottom {
border-radius: 0px 0px 5px 5px
}
.table {
display: table;
}
.table > li {
display: table-row;
}
.table > li > div {
display: table-cell;
}
