<div class="row" style="min-height: 20%;">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 col-xs-12 text-center" style="padding: 15px">
        <img src="/images/user_placeholder.png" class="center-block img-responsive img-circle" alt="..." style="width: 120px">
    </div>
</div>
<div class="row resume-job">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>
            java后台开发 <br>
            & <br>
            web前端开发
        </span>
    </div>
</div>
<div class="row text-center resume-contact">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <span>
            <i class="fa fa-phone fa-4x"></i> <br>
            18051298331
        </span>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <span>
            <i class="fa fa-envelope fa-4x"></i><br>
            lcc1002@163.com
        </span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            <i class="fa fa-home fa-4x"></i><br>
            www.lucuicheng.com
        </span>
    </div>
</div>

<div class="row resume-body">
    <div class="col-md-10 col-md-offset-1 ol-sm-10 col-sm-offset-2 col-xs-12 no-padding-left-right">
        <ul class="list-group">
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-right">

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                    ...
                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                    ...
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-left">

                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-right">

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                    ...
                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4 class="media-heading">Media heading</h4>
                    ...
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-left">

                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>