<div class="row" style="max-height: 50px;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
        sss
    </div>
</div>

<div class="row resume-body">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <span style="display: inline-block;min-width: 150px;;padding: 15px 25px 10px;margin-bottom: 20px;border-bottom: 1px solid #f0ad4e">个人简历</span>
</div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body sm resume" style="background-image: url('/images/007.jpg');">
                    <div class="blur"></div>
                    <div class="text-center desc">
                        <div>好的司法活动是好的司法活好的司法活动是好的司法活好的司法活动</div>
                    </div>
                    <div class="text-center top-desc">
                        <div>好的司法活动是好的司法活司法活</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body sm resume" style="background-image: url('/images/008.jpg');">
                    <div class="blur"></div>
                    <div class="text-center desc">
                        <div>好的司法活动是好的司法活好的司法活动是好的司法活好的司法活动</div>
                    </div>
                    <div class="text-center top-desc">
                        <div>好的司法活动是好的司法活司法活</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body sm resume" style="background-image: url('/images/009.jpg');">
                    <div class="blur"></div>
                    <div class="text-center desc">
                        <div>好的司法活动是好的司法活好的司法活动是好的司法活好的司法活动</div>
                    </div>
                    <div class="text-center top-desc">
                        <div>好的司法活动是好的司法活司法活</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>