<div class="row" style="max-height: 50px;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
        sss
    </div>
</div>

<div class="row demo-head">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>Demo & Plugin</span>
    </div>
</div>

<div class="row demo-body">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
        <ul class="list-group">
            <li class="list-group-item no-border row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="/images/017.jpg" alt="...">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default" style="margin-bottom: 0px;box-shadow: 0px 0px 0px #FFF">
                        <div class="panel-heading">
                            描述
                        </div>
                        <div class="panel-body">

                        </div>
                        <div class="panel-body">

                        </div>
                        <div class="panel-footer">
                            时间
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-5 col-sm-5 col-xs-12 text-center">
                    <span style="display: inline-block;padding: 5px 10px;border: 1px solid gainsboro;width: 100px;margin: 5px 20px">下载源码</span>
                    <span style="display: inline-block;padding: 5px 10px;border: 1px solid gainsboro;width: 100px;margin: 5px 20px">下载源码</span>
                    <span style="display: inline-block;padding: 5px 10px;border: 1px solid gainsboro;width: 100px;margin: 5px 20px">下载源码</span>
                </div>
            </li>
            <li class="list-group-item no-border row">
                <div class="col-md-9 col-sm-9 col-xs-12 text-left">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            使用教程
                        </div>
                        <div class="panel-body">
                            <div>
                                <span class="glyphicon glyphicon-paperclip"></span>
                                <span style="display: inline-block;padding: 0px 10px;width: 100px;">第一步</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <span class="glyphicon glyphicon-paperclip"></span>
                                <span style="display: inline-block;padding: 0px 10px;width: 100px;">第二步</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-left">
                    <div class="label label-default">Default</div>
                    <div class="label label-primary">Primary</div>
                    <div class="label label-success">Success</div>
                    <div class="label label-info">Info</div>
                    <div class="label label-warning">Warning</div>
                    <div class="label label-danger">Danger</div>
                    <div class="label label-default">Default</div>
                    <div class="label label-primary">Primary</div>
                    <div class="label label-success">Success</div>
                    <div class="label label-info">Info</div>
                    <div class="label label-warning">Warning</div>
                    <div class="label label-danger">Danger</div>
                    <div class="label label-default">Default</div>
                    <div class="label label-primary">Primary</div>
                    <div class="label label-success">Success</div>
                    <div class="label label-info">Info</div>
                    <div class="label label-warning">Warning</div>
                    <div class="label label-danger">Danger</div>
                    <div class="label label-default">Default</div>
                    <div class="label label-primary">Primary</div>
                    <div class="label label-success">Success</div>
                    <div class="label label-info">Info</div>
                    <div class="label label-warning">Warning</div>
                    <div class="label label-danger">Danger</div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>