<div class="row" style="max-height: 50px;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
        sss
    </div>
</div>

<div class="row demo-body">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span style="display: inline-block;min-width: 150px;;padding: 15px 25px 10px;margin-bottom: 20px;border-bottom: 1px solid #f0ad4e">angularjs plugins</span>
    </div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/003.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    <div>
                        <h5>标题标题标题标题标题标题</h5>
                    </div>
                    <div style="max-height: 100px;min-height: 80px">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </div>
                    <div class="text-right" style="font-size: 16px;padding-right: 10px">
                        2016-05-06
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/004.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    ss
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/005.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    ss
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/006.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row demo-body">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span style="display: inline-block;min-width: 150px;;padding: 15px 25px 10px;margin-bottom: 20px;border-bottom: 1px solid #f0ad4e">angularjs plugins</span>
    </div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/007.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    ss
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/008.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    ss
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/009.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    ss
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-body sm row" style="padding: 0px 0px 5px">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left-right">
                        <img class="img-responsive center-block" src="/images/010.jpg" alt="...">
                    </div>
                </div>
                <div class="panel-body sm" style="padding-top: 0px">
                    ss
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>