<div class="row" style="height: 40%;background-color: #EDEDED">
    <div class="col-md-9 col-sm-8 col-xs-12" style="padding: 15px">
        sss
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12" style="padding: 15px">
        sss
    </div>
</div>
<div class="row" style="background-color: #EDEDED">
    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
        sssss
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
        sssss
    </div>
</div>

<div class="row" style="height: 70%;padding-top: 20px">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>

<div class="row" style="height: 70%;padding-top: 20px">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>

<div class="row" style="height: 70%;padding-top: 20px">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>

<div class="row" style="height: 70%;padding-top: 20px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/images/bg2.png" alt="">
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>

<div class="row" style="background-color: #EDEDED">
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
        <div class="label label-default">Default</div>
        <div class="label label-primary">Primary</div>
        <div class="label label-success">Success</div>
        <div class="label label-info">Info</div>
        <div class="label label-warning">Warning</div>
        <div class="label label-danger">Danger</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 15px">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 5%;background-color: #EDEDED">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span>2016-04-14</span>
        <span style="display: inline-block;width: 10px;margin-top: -5px;color: darkgray"> | </span>
        <span>lucuicheng</span>
    </div>
</div>